<nav-app></nav-app>


<div class="container text-center">
    <br>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" (click)="openDialog() ">Nuevo Producto</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary">Buscar Producto</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary">Editar Producto</button>
        </div>
    </div>
    <br><br>
</div>

<div class="container-fluid">
  
    <table class="table mat-elevation-z8">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Existencia</th>
            <th scope="col">Ubicacion</th>
            <th scope="col">Fecha de creacion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products">
            <th scope="row">{{p.nombre}}</th>
            <td>{{p.descripcion}}</td>
            <td>{{p.existenciaMinima}}</td>
            <td>{{p.ubicacionFisica}}</td>
            <td>{{p.fechaVencimiento}}</td>
          </tr>
        </tbody>
    </table>
</div>
