body {
  background-color: #e0e7ff;
  font-family: "Arial", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100vh - 40px);
}

.row {
  margin-bottom: 20px;
}

.card {
  height: 180px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  margin: 10px;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
}

.card-body i {
  font-size: 36px;
  color: #007bff;
  margin-bottom: 10px;
}

.card-text {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .card {
    width: 100%;
    height: auto;
  }
}

.card:hover {
  transform: scale(1.05);
  background-color: #80e6ff;
  color: #0056b3;
}
