<nav-app></nav-app>
<div class="container">
  <br /><br />
  <div class="row">
    <div class="col-md-4">
      <div class="card pointer" (click)="goToPackages()">
        <div class="card-body">
          <i class="fas fa-truck fa-3x"></i>
          <p class="card-text">ENTREGA DE PAQUETES</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card pointer" (click)="goToSales()">
        <div class="card-body">
          <i class="fas fa-shopping-cart fa-3x"></i>
          <p class="card-text">VENTAS</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <i class="fas fa-file-invoice-dollar fa-3x"></i>
          <p class="card-text">NOTAS DE CREDITO</p>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="col-md-6">
      <div class="card pointer" (click)="goToUsers()">
        <div class="card-body">
          <i class="fas fa-users fa-3x"></i>
          <p class="card-text">CLIENTES</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card pointer" (click)="goToProducts()">
        <div class="card-body">
          <i class="fas fa-box-open fa-3x"></i>
          <p class="card-text">PRODUCTOS</p>
        </div>
      </div>
    </div>
  </div>
</div>
