<nav-app></nav-app>
<div class="delivery-dashboard">
  <div class="card" (click)="goToCreatePackage()">
    <div class="card-icon">
      <i class="fas fa-box-open"></i>
    </div>
    <div class="card-title">
      <h3>Crear Entrega de Paquete</h3>
    </div>
  </div>

  <div class="card" (click)="goToSearchByCode()">
    <div class="card-icon">
      <i class="fas fa-search"></i>
    </div>
    <div class="card-title">
      <h3>Buscar Entrega por Código</h3>
    </div>
  </div>

  <div class="card" (click)="goToSearchByDateRange()">
    <div class="card-icon">
      <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="card-title">
      <h3>Buscar Entrega por Rango de Fecha</h3>
    </div>
  </div>
</div>
