<div class="container flex-container">
    <div class="card w-50">
        <h1 class="text-center">Registro</h1>
        <div class="form px-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Primer Nombre</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Primer Nombre">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Segundo Nombre</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Segundo Nombre">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Primer Apellido</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Primer Apellido">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Segundo Apellido</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Segundo Apellido">
                    </div>
                </div>
            </div>

            <div class="row">
               <div class="col-md-6">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">DPI</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="DPI">
                </div>
               </div>
               <div class="col-md-6">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">NIT</label>
                    <input type="NIT" class="form-control" id="exampleFormControlInput1" placeholder="NIT">
                </div>
               </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Pasaporte</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Pasaporte">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Telefono">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="exampleFormControlInput" class="form-label">Correo Electronico</label>
                        <input type="text" class="form-control" id="exampleFormControlInput" placeholder="Correo Electronico">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Direccion">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2 text-center">
                    <button class="btn btn-info"> Registrar </button>
                </div>
            </div>
        </div>
    </div>
</div>