/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css"; /* Agrega esta línea para el tema de Angular Material */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pointer{
    cursor: pointer;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
